<cruisecontrol xmlns:cb="urn:ccnet.config.builder" xmlns="http://thoughtworks.org/ccnet/1/5">

	<!--@todo integrate web dashboard-->
    <!--************************************************* KeyTalk Client *************************************************-->
   <project name="KeyTalk Windows 10 Smart Card Client">
		<labeller type="defaultlabeller">
		    <incrementOnFailure>true</incrementOnFailure>
		</labeller>

		<state type="state" directory="d:\builds\state"/>

		<triggers>
		<scheduleTrigger time="02:35" buildCondition="ForceBuild" />
		</triggers>

		<sourcecontrol type="git">
			<repository>ssh://git@stash.keytalk.com:7999/keytalk/core.git</repository>
			<workingDirectory>d:\builds\keytalk</workingDirectory>
			<fetchSubmodules>false</fetchSubmodules>
			<timeout units="minutes">20</timeout>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>

		<prebuild>
        <!-- First remove all merged files thus if build fails, the old merged files will not be erroneously reused -->
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\delifexist.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibtaclientcommon.log.xml</buildArgs>
		  </exec>

          <!-- Deploy KeyTalk client configuration -->
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\copytree.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\ContinuousIntegration\cc.net\user.ini "$(APPDATA)\KeyTalk"</buildArgs>
		  </exec>
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\copytree.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\ContinuousIntegration\cc.net\master.ini "$(ALLUSERSPROFILE)\KeyTalk"</buildArgs>
		  </exec>
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\copytree.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\ContinuousIntegration\cc.net\resept.ini "$(ALLUSERSPROFILE)\KeyTalk"</buildArgs>
		  </exec>
		</prebuild>

		<tasks>
			<exec>
				<executable>C:\Program Files (x86)\CruiseControl.NET\server\copy_testlibtaclientcommon_export.bat</executable>
			</exec>

			<!-- Run test -->
			<exec>
				<executable>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibtaclientcommon.exe</executable>
				<buildArgs>-v WinSmartCardUtilTest</buildArgs>
				<baseDirectory>d:\builds\keytalk\Software\Client\TestProjects\Export</baseDirectory>
				<buildTimeoutSeconds>120</buildTimeoutSeconds>
			</exec>
		</tasks>

		<publishers>
			<xmllogger logDir="d:\builds\logs" />
			<email includeDetails="true">
				<from>resept4.buildserver@sioux.eu</from>
				<mailhost>mail01.sioux.eu</mailhost>
				<users>
                    <user name="Andrei Korostelev" group="buildmaster" address="andrei.korostelev@sioux.eu" />
                    <user name="Tim de Haas" group="buildmaster" address="Tim.de.Haas@sioux.eu" />
				</users>
				<groups>
					<group name="developers">
					  <notifications>
						<notificationType>Failed</notificationType>
						<notificationType>Fixed</notificationType>
					  </notifications>
					</group>
					<group name="buildmaster">
					  <notifications>
						<notificationType>Always</notificationType>
					  </notifications>
					</group>
				</groups>
			</email>
        </publishers>
	</project>
</cruisecontrol>