*.idb
*.idl
*.log
*.ncb
*.o
*.obj
*.opensdf
*.pdb
*.Plo
*.Po
*.pyc
*.sdf
*.sublime-workspace
*.suo
*.swp
*.tar
*.tlb
*.vcxproj.user
*.wixobj
.agignore
.DS_Store
/Sandbox/KerberosTokenFetcher/Debug/
/Sandbox/KerberosTokenFetcher/KerberosTokenReader/Debug/
/Software/Client/Projects/DependentLibDeployer/Release
/Software/Client/Projects/Export
/Software/Client/Projects/librclientappcommon/rclient/qrc_RClientAppCommon.cpp
/Software/Client/Projects/librclientappcommon/rclient/ui_*.h
/Software/Client/Projects/librclientappcommon/Release
/Software/Client/Projects/librclientcore/rclient/SettingsDefs.h
/Software/Client/Projects/librclientcore/rclient/VerificationCert.h
/Software/Client/Projects/librclientcore/rclient/Version.h
/Software/Client/Projects/librclientcore/Release
/Software/Client/Projects/libtaclientcommon/Release
/Software/Client/Projects/ReseptBrokerService/Release
/Software/Client/Projects/ReseptConfigManager/GeneratedFiles
/Software/Client/Projects/ReseptConfigManager/Release
/Software/Client/Projects/ReseptConfigTool/Release
/Software/Client/Projects/ReseptConsoleClient/Release
/Software/Client/Projects/ReseptDesktopClient/Release
/Software/Client/Projects/ReseptHwsigDump/Release
/Software/Client/Projects/ReseptIeBroker/Release
/Software/Client/Projects/ReseptIeClient/dlldata.c
/Software/Client/Projects/ReseptIeClient/Release
/Software/Client/Projects/ReseptIeClient/vc120.h
/Software/Client/Projects/ReseptIeClient/vc120_i.c
/Software/Client/Projects/ReseptIeClient/vc120_p.c
/Software/Client/Projects/ReseptInstaller/ConfigUpdater/Release
/Software/Client/Projects/ReseptInstaller/Export
/Software/Client/Projects/ReseptInstaller/win/IeUserExeRestarter/Release
/Software/Client/Projects/ReseptInstaller/win/MessageBoxManager/Release
/Software/Client/Projects/ReseptInstaller/win/ReseptClientInstaller/Release
/Software/Client/Projects/ReseptInstaller/win/ReseptClientInstaller/ReseptClientInstaller.wxi
/Software/Client/Projects/ReseptInstaller/win/Sweeper/Release
/Software/Client/Projects/ReseptLogDecoder/GeneratedFiles
/Software/Client/Projects/ReseptLogDecoder/Release
/Software/Client/Projects/ReseptPrGenerator/GeneratedFiles
/Software/Client/Projects/ReseptPrGenerator/Release
/Software/Client/Projects/ReseptPythonClient/cert.pem
/Software/Client/Projects/ReseptPythonClient/cert.pfx
/Software/Client/Projects/ReseptPythonClient/certkey-password.txt
/Software/Client/Projects/ReseptPythonClient/commcacert.pem
/Software/Client/Projects/ReseptPythonClient/common_config.py
/Software/Client/Projects/ReseptPythonClient/KeyTalkApi.pdf
/Software/Client/Projects/ReseptPythonClient/pcacert.pem
/Software/Client/Projects/ReseptResponseCalculator/GeneratedFiles
/Software/Client/Projects/ReseptResponseCalculator/Release
/Software/Client/Projects/tasysutils/Release
/Software/Client/TestProjects/DependentLibDeployer/obj
/Software/Client/TestProjects/DependentLibDeployer/Release
/Software/Client/TestProjects/Export
/Software/Client/TestProjects/testlibrclientappcommon/Release
/Software/Client/TestProjects/testlibrclientappcommon/testlibrclientappcommon.cpp
/Software/Client/TestProjects/testlibrclientcore/RClientCoreTests.cpp
/Software/Client/TestProjects/testlibrclientcore/Release
/Software/Client/TestProjects/testlibrclientcore/testlibrclientcore.cpp
/Software/Client/TestProjects/testlibrclientcore/testlibrclientcore.w32.cpp
/Software/Client/TestProjects/testlibtaclientcommon/Release
/Software/Client/TestProjects/testlibtaclientcommon/taclientcommontests.cpp
/Software/Client/TestProjects/testReseptConsoleClient/Release
/Software/Client/TestProjects/testReseptConsoleClient/testReseptConsoleClient.cpp
/Software/Client/TestProjects/testReseptInstaller/linux/*.rccd
/Software/Client/TestProjects/testReseptInstaller/linux/systemctl.py
/Software/Common/Projects/export
/Software/Common/Projects/Export
/Software/Common/Projects/libreseptcommon/Release
/Software/Common/Projects/libreseptcommon/resept/common.h
/Software/Common/TestProjects/Export
/Software/Common/TestProjects/testlibreseptcommon/Release
/Software/Common/TestProjects/testlibreseptcommon/ReseptCommonTests.cpp
/Software/Documentation/Export
/Software/Documentation/KeyTalk_LinuxClient_for_Apache.pdf
/Software/Documentation/~$*
/Software/Import/libtwiliocpp/lib/libtwilio.a
/Software/Server/Projects/Export
/Software/Server/Projects/kt4verifysettings/certs.h
/Software/Server/Projects/libmodmysql/createdb.h
/Software/Server/Projects/libmodmysql/createtables.h
/Software/Server/Projects/librsvrcommon/create_admin_db_tables.h
/Software/Server/Projects/librsvrcommon/create_main_db_tables.h
/Software/Server/Projects/pykeytalk/consts.py
/Software/Server/Projects/pykeytalk/gen
/Software/Server/TestProjects/Export
/Software/Server/TestProjects/integrationtest/integrationtests.cpp
/Software/Server/TestProjects/testlibauthd/libauthdtests.cpp
/Software/Server/TestProjects/testlibcad/libcadtests.cpp
/Software/Server/TestProjects/testlibcryptoki/cryptokilibtest.cpp
/Software/Server/TestProjects/testlibdevid/libdevidtests.cpp
/Software/Server/TestProjects/testlibhsmproxyd/libhsmproxydtest.cpp
/Software/Server/TestProjects/testlibmodexecute/libmodexecutetests.cpp
/Software/Server/TestProjects/testlibmodldap/libmodldaptests.cpp
/Software/Server/TestProjects/testlibmodradius/libmodradiustests.cpp
/Software/Server/TestProjects/testlibmodrelay/libmodrelaytests.cpp
/Software/Server/TestProjects/testlibmodrest/libmodresttests.cpp
/Software/Server/TestProjects/testlibmodsql/talibmodsqltest.cpp
/Software/Server/TestProjects/testlibrdd/librddtests.cpp
/Software/Server/TestProjects/testlibrsvrcommon/librsvrcommontest.cpp
/Software/Server/TestProjects/testlibrsvrkerberos/librsvrkerberostests.cpp
/Software/Server/TestProjects/testlibupdaterd/updaterdtest.cpp
/Software/SysInfra/Projects/export
/Software/SysInfra/Projects/Export
/Software/SysInfra/Projects/libtacommon/Release
/Software/SysInfra/Projects/libtalogger/Release
/Software/SysInfra/TestProjects/Export
/Software/SysInfra/TestProjects/testlibtacommon/libtacommontests.cpp
/Software/SysInfra/TestProjects/testlibtacommon/Release
/Software/SysInfra/TestProjects/testlibtacommon/testlibtacommon.cpp
/Software/WebUI.HsmProxy/Projects/bower_components
/Software/WebUI.HsmProxy/Projects/client_modules
/Software/WebUI.HsmProxy/Projects/node_modules
/Software/WebUI.HsmProxy/Projects/public/.module-cache
/Software/WebUI.HsmProxy/Projects/public/css/bootstrap.css
/Software/WebUI.HsmProxy/Projects/public/font-awesome
/Software/WebUI.HsmProxy/Projects/public/fonts
/Software/WebUI.HsmProxy/Projects/public/js
/Software/WebUI.Server/Projects/Export
/Software/WebUI.Server/TestProjects/Export
/Software/WebUI.Server/TestProjects/testlibreseptwebuicommon/libreseptwebuicommonTests.cpp
GPATH
GRTAGS
GSYMS
GTAGS
ID
moc_*.cpp
TAGS
test*.log.xml