<IfModule mod_ssl.c>
	<VirtualHost _default_:{{LISTEN_PORT}}>
        {{SERVER_NAME_DIRECTIVE}}

		SSLEngine on

		SSLCertificateFile	{{CERTS_DIR}}/keytalk-test-{{LISTEN_PORT}}{{DASH_SERVER_NAME}}-ssl.pem
		SSLCertificateKeyFile {{KEYS_DIR}}/keytalk-test-{{LISTEN_PORT}}{{DASH_SERVER_NAME}}-ssl.key

        # note: SSLCertificateChainFile became obsolete with Apache-2.4.8 in favor of SSLCertificateFile

	</VirtualHost>
</IfModule>
