<cruisecontrol xmlns:cb="urn:ccnet.config.builder" xmlns="http://thoughtworks.org/ccnet/1/5">

	<!--@todo integrate web dashboard-->
    <!--************************************************* KeyTalk Client *************************************************-->
   <project name="KeyTalk Windows Client x86">
		<labeller type="defaultlabeller">
		    <incrementOnFailure>true</incrementOnFailure>
		</labeller>

		<state type="state" directory="d:\builds\state"/>

		<triggers>
		<scheduleTrigger time="02:15" buildCondition="ForceBuild" />
		</triggers>

		<sourcecontrol type="git">
			<repository>ssh://git@stash.keytalk.com:7999/keytalk/core.git</repository>
			<workingDirectory>d:\builds\keytalk</workingDirectory>
			<fetchSubmodules>false</fetchSubmodules>
			<timeout units="minutes">20</timeout>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>

		<prebuild>
        <!-- First remove all merged files thus if build fails, the old merged files will not be erroneously reused -->
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\delifexist.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\SysInfra\TestProjects\Export\testlibtacommon.log.xml</buildArgs>
		  </exec>
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\delifexist.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\Common\TestProjects\Export\testlibreseptcommon.log.xml</buildArgs>
		  </exec>
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\delifexist.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibtaclientcommon.log.xml</buildArgs>
		  </exec>
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\delifexist.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibrclientcore.log.xml</buildArgs>
		  </exec>
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\delifexist.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\Client\TestProjects\Export\testReseptConsoleClient.log.xml</buildArgs>
		  </exec>
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\delifexist.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibrclientappcommon.log.xml</buildArgs>
		  </exec>

          <!-- Deploy KeyTalk client configuration -->
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\copytree.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\ContinuousIntegration\cc.net\user.ini "$(APPDATA)\KeyTalk"</buildArgs>
		  </exec>
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\copytree.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\ContinuousIntegration\cc.net\master.ini "$(ALLUSERSPROFILE)\KeyTalk"</buildArgs>
		  </exec>
		  <exec>
			<executable>d:\builds\keytalk\Software\Import\win32_utils\copytree.bat</executable>
			<buildArgs>d:\builds\keytalk\Software\ContinuousIntegration\cc.net\resept.ini "$(ALLUSERSPROFILE)\KeyTalk"</buildArgs>
		  </exec>
		</prebuild>

		<tasks>
			<msbuild>
				<workingDirectory>d:\builds\keytalk\Software\Client\</workingDirectory>
				<executable>$(ProgramFiles)\MSBuild\12.0\Bin\MSBuild.exe</executable>
				<buildArgs>ReseptClient.sln /t:Rebuild /p:Configuration=Release</buildArgs>
				<logger>$(ProgramFiles)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
				<timeout>2400</timeout>
			</msbuild>

			<!-- Run tests -->
			<exec>
				<executable>d:\builds\keytalk\Software\SysInfra\TestProjects\Export\testlibtacommon.exe</executable>
				<buildArgs>-v</buildArgs>
				<baseDirectory>d:\builds\keytalk\Software\SysInfra\TestProjects\Export</baseDirectory>
				<buildTimeoutSeconds>480</buildTimeoutSeconds>
			</exec>
			<exec>
				<executable>d:\builds\keytalk\Software\Common\TestProjects\Export\testlibreseptcommon.exe</executable>
				<buildArgs>-v</buildArgs>
				<baseDirectory>d:\builds\keytalk\Software\Common\TestProjects\Export</baseDirectory>
				<buildTimeoutSeconds>30</buildTimeoutSeconds>
			</exec>
			<exec>
				<executable>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibtaclientcommon.exe</executable>
				<buildArgs>-v</buildArgs>
				<baseDirectory>d:\builds\keytalk\Software\Client\TestProjects\Export</baseDirectory>
				<buildTimeoutSeconds>120</buildTimeoutSeconds>
			</exec>
 			<exec>
				<executable>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibrclientcore.exe</executable>
				<buildArgs>-v</buildArgs>
				<baseDirectory>d:\builds\keytalk\Software\Client\TestProjects\Export</baseDirectory>
				<buildTimeoutSeconds>960</buildTimeoutSeconds>
			</exec>
 			<exec>
				<executable>d:\builds\keytalk\Software\Client\TestProjects\Export\testReseptConsoleClient.exe</executable>
				<buildArgs>-v</buildArgs>
				<baseDirectory>d:\builds\keytalk\Software\Client\TestProjects\Export</baseDirectory>
				<buildTimeoutSeconds>600</buildTimeoutSeconds>
			</exec>
			<exec>
				<executable>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibrclientappcommon.exe</executable>
				<buildArgs>-v</buildArgs>
				<baseDirectory>d:\builds\keytalk\Software\Client\TestProjects\Export</baseDirectory>
				<buildTimeoutSeconds>240</buildTimeoutSeconds>
			</exec>
		</tasks>

		<publishers>
			<merge>
				<files>
					<file>d:\builds\keytalk\Software\SysInfra\TestProjects\Export\testlibtacommon.log.xml</file>
					<file>d:\builds\keytalk\Software\Common\TestProjects\Export\testlibreseptcommon.log.xml</file>
					<file>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibtaclientcommon.log.xml</file>
					<file>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibrclientcore.log.xml</file>
					<file>d:\builds\keytalk\Software\Client\TestProjects\Export\testReseptConsoleClient.log.xml</file>
					<file>d:\builds\keytalk\Software\Client\TestProjects\Export\testlibrclientappcommon.log.xml</file>
				</files>
			</merge>
			<xmllogger logDir="d:\builds\logs" />
			<email includeDetails="true">
				<from>resept4.buildserver@sioux.eu</from>
				<mailhost>mail01.sioux.eu</mailhost>
				<users>
                    <user name="Andrei Korostelev" group="buildmaster" address="andrei.korostelev@sioux.eu" />
                    <user name="Tim de Haas" group="buildmaster" address="Tim.de.Haas@sioux.eu" />
                    <user name="Michael van der Sman" group="buildmaster" address="m.vandersman@keytalk.com" />
				</users>
				<groups>
					<group name="developers">
					  <notifications>
						<notificationType>Failed</notificationType>
						<notificationType>Fixed</notificationType>
					  </notifications>
					</group>
					<group name="buildmaster">
					  <notifications>
						<notificationType>Always</notificationType>
					  </notifications>
					</group>
				</groups>
			</email>
        </publishers>
	</project>
</cruisecontrol>